<!DOCTYPE html>
<html>
  <head>
    <title>Wealth Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'Index' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="bg-gray-100">
    <%= yield %>
  </body>
</html>
